#mainVBox
{
	-fx-background-color: #FFFFCC;
	-fx-color: #3399FF;
	-fx-font-weight: bold;
	-fx-opacity: 0.9;
	-fx-font-family: "Arial Black";
}

#titleHBox
{
	-fx-font-size: 300%;
	-fx-color: white;
}

#roomInfoHBox
{
	-fx-color: #000000;
	-fx-font-size: 250%;
}

#reservationTitleHBox
{
	-fx-font-size: 200%;
}

.button
{
	-fx-background-color: #3399CC;
	-fx-font-size: 150%;
	-fx-border-radius: 10px;
	-fx-background-radius: 10px;
}

.button:hover
{
	-fx-background-color: #1177AA;
}

#bookButton
{
	-fx-font-size: 200%;
}

#descriptionHBox
{
	-fx-font-size: 180%;
}
