#mainVBox
{
    -fx-background-color: #FFFFCC;
    -fx-color: #3399FF;
    -fx-font-weight: bold;
    -fx-opacity: 0.9;
    -fx-font-family: "Arial Black";
}

.label {
    -fx-color: grey;
}

#titleHBox
{
    -fx-font-size: 300%;
    -fx-color: white;
}

#filtersLabel
{
    -fx-font-size: 250%;
}

#planLabelHbox
{
    -fx-font-size: 250%;
}

#floorLabel, #pepoleNumberLabel, #priceLabel
{
    -fx-font-size: 150%;
}

#mapPane
 {
     -fx-background-image: url("../img/Floor1.png");
 }

#mapPane > .button
{
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
}

#logOutButton
{
    -fx-background-color: #3399CC;
    -fx-font-size: 150%;
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
    -fx-text-fill: white;
}

#logOutButton:hover
{
    -fx-background-color: #1177AA;
}